<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>Four Tones Musical Club</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Varela Round' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
  <div id="title-area">
    <div class = "logo">
      <img src="../static/images/logo.png" alt="Four Tones Musical Club Logo">
    </div>
    <div id="title">
          <h1>Four Tones Musical Club</h1>
          <h2>A DKU Student Run Organization</h2>
    </div>
  </div>

  <div class="navigation">
    <ul>
      <a href="index.html">Home</a>
      <a href="execboard.html">Executive Board</a>
      <a href="curr_production.html">Current Production</a>
      <a href="past_productions.html">Past Productions</a>
      <a href="constitution.html" class="active">Bylaws</a>
      <a href="member.html">Member Portal</a>
    </ul>
  </div>

</div>

<div class="body-main">
    <p>
        Duke Kunshan University Four Tones Musical Club Constitution
        
        Introduction
        DKU Four Tones Musical Club aims to provide a platform for DKU students with interest in musical theater and create an active musical theatre community. The DKU Four Tones Musical club aims to produce a fully staged musical every semester. 
        
        Membership Status
        Active Members
        An active member is defined as any person that has participated in a show within the last 4 semesters. Membership will be tracked through an excel sheet maintained by the ____.
        
        Loss of Membership
        If any member fails to uphold the purpose and objectives of the organization or does not comply with university policies, he/she/they may be held accountable and in jeopardy of losing their membership. The reason for removal of a member must be presented to the Executive Board and voted by a two thirds vote of the executive board. 
        
        The Executive Board
        
        Executive Board Members (Role Descriptions Detailed Below)
        President
        Vice President(s)
        The President and Vice President(s) MUST also be in one of the following “Supervisor” Roles. (See election process)
        Treasurer(s) - as the Producer
        The Treasurer will be expected to either find a suitable Producer OR if none is found, serve the role of the Producer during the production. 
        Secretary(ies)
        The Secretary will be expected to either find a Stage Manager OR if none is found, serve the role of the Stage Manager during the production. 
        Publicity Supervisor(s)
        Orchestral Supervisor
        Music Supervisor
        Choreography Supervisor(s)
        Publicity Supervisor(s)
        Cast Supervisor(s)
        The Cast Supervisor will be expected to either find a suitable Director OR if none is found, serve the role of the Director during the production. 
        Social Chair(s)
        
        Election Process
        The election process will take place as a two-part process during the Spring Semester of every year.
        The prospective candidates will give a short (~60 second) speech on why they want to be elected and potentially if they would fill the additional role (e.g. If the Cast Supervisor wants to Direct, Co-Direct, or Not Direct). 
        
        Elections will be open to all active members in a ranked voting format. 
        
        The First Round of Elections will be to elect the 
        Treasurer(s)
        Secretary(ies)
        Technical Supervisor(s)
        Orchestral Supervisor
        Music Supervisor
        Choreography Supervisor(s)
        Publicity Supervisor(s)
        Cast Supervisor
        Social Chair(s)
        
        The Second Round of Elections will be to elect the
        President
        Vice President(s)
        The candidates for the second round of elections will be those with a supervisor position from the first round of election. For example, the cast supervisor could also become the president.
        This is to ensure that the president and vice president are people that have the technical skills needed to be responsible for at least one aspect of production
        
        Organization Policies
        The Executive Board is responsible for managing the policies outlined in this document. 
        Policy changes can be proposed by any member and then adopted, abolished, or amended by a majority vote of the Executive Board. 
        
        Play Reading Committee
        The Play Reading Committee will consist of the ____. The role of the play reading committee is to decide on and present a ballot of shows that are feasible for the next production of the club. 
        
        Active Production Board
        The Active Production Board will consist of the Director, Producer, ___
        
        
        Meetings 
        
        Regular Meetings determined by the President
        
        
        
        
        
        President
        First and foremost the president is responsible for fostering a welcoming community in the club! In doing this, they should seek to expand the club and consistently work to improve the experience of the club members. On top of this, they will also be filling a supervisor role. Their specific duties include: 
        In charge of all club scheduling including:
        Overall production schedule
        Scheduling monthly exec board meetings
        Generally making sure the all parts of the production are on track during the show
        Keeps up with any DKU required business (i.e, refiling as a club every year and submitting applications for awards)
        Manage interpersonal relations within the club if a problem gets too big or the problem concerns the Production (conflict resolution)
        Writes any announcements sent to the group (email or wechat) 
        Keeping an eye out for outreach opportunities (collaborations with other clubs, outside of school activities, etc.)
        Are a part of the play reading committee
        
        Vice-President
        The Vice President’s main role is to support the president and take on any of their specific duties that are needed. The President and Vice President should be a team that works together to better the club as one. The Vice President will also fill a supervisor role. 
        
        Treasurer 
        The Treasurer is the person that is in charge of all club finances along with filling the role of Producer for each show. This role requires someone with excellent organizational skills and ability to manage money. If they are not able to find a producer (or would want to do the job themselves), then they must serve the role of Producer. Their specific duties include:
        Communicating budget needs with Campus Engagement 
        Look out for other funding opportunities (Arts and Humanities, outside sponsorships, advertisements, etc.) 
        Keeping track of the donations given to the club 
        Works with the President to create the budget and approves the final budget request for the show 
        In charge of making sure all Fapiaos are accounted for and everyone gets paid back for their spending 
        
        Secretary  
        The Secretary is responsible for the general organization and record keeping of the club along with filling the role of Stage Manager for each show. They should be someone that has great managerial skills and has a passion for keeping this history of the club alive! If they are not able to find a Stage Manager (or would want to do the job themselves), then they must serve the role of Stage Manager themselves. Specific duties include: 
        Taking notes of what happens in executive meetings and board meetings
        Updates the Four Tones Website for past and ongoing productions and adds any new significant achievements 
        Keeping up with archival material (Tickets, playbills) to be given to the DKU archives 
        Making sure club space is organized and useable before and during productions
        Working with the producer of each production to make sure spaces are properly booked for rehearsal and show times
        
        Technical Supervisor(s)
        The Technical Supervisor is responsible for the organization and efficiency of the technical crew. This person should have experience with running tech for a previous musical and have a solid understanding of DKU’s tech booth. The Technical Supervisor should act in one of the leading tech crew roles and elect the remaining. Specific duties include
        Electing the necessary members of a tech crew (e.g. Sound, Lights, Spotlight, etc.)
        Oversee the making a list of cues for the production (e.g. sound effects, light effects)
        Oversee the microphone situation for cast and pit
        
        Honestly idk what tech does– I’m not tech
        
        Orchestral Supervisor
        The Orchestral Supervisor is responsible for the organization of the pit orchestra. This role requires a person with good organizational skills and previous music experience. They should be able to understand the required skill level of instrumentalists when looking at a score, have a solid understanding of conducting and running an orchestra rehearsal, and be able to discern which songs need additional work from listening. The Orchestral Supervisor must either conduct or play in the pit orchestra. Specific duties include: 
        Holding in-person or video auditions for interested musicians
        Determining a regular meeting schedule for the semester and making a shared calendar
        Either electing a suitable conductor or if none is found, serving as the conductor of the pit
        Deciding and communicating songs that will be rehearsed in upcoming practices
        Act as a communications liaison between pit orchestra and the production crew
        
        Music Supervisor
        The Music Supervisor is responsible for the organization and teaching for singing rehearsals for the cast. This role requires a person with good organizational skills and previous music experience. They should have experience singing/teaching singing parts and understand vocal ranges. Specific duties include
        Participating in cast auditions by gathering information on their vocal ranges
        Giving recommendations on casting based on the required vocal ranges of the characters
        Organizing group and individual vocal lessons with the singing cast for every song
        
        Choreography Supervisor(s)
        The Choreography Supervisor is responsible for creating and teaching the choreography as well as organizing choreography rehearsals. This role requires a person with good organizational skills and previous dance experience. Specific duties include
        Creating and teaching choreography for all songs in the musical production
        If necessary, coordinate with dance clubs for additional dance ensemble members
        
        Publicity Supervisor
        The Publicity Supervisor is responsible for overseeing the drumming up interest for both recruitment of club members and audience for the musical production. This person should have good organizational skills and photoshop/graphic designing skills. The tasks are ultimately overseen by this person, but work can be delegated to a chosen publicity committee. Specific duties include: 
        Managing the XiaoHongShu (小红书) and Instagram (and potentially TikTok) by posting calls for executive positions and teasing the show of the season
        In charge of arranging “Media Day” where actors are photographed in costume for publicity material
        Oversees the designing and printing of show’s publicity material including
        Playbill, Tickets, Photo Cards, and the Poster
        Organizes advertisement for the show starting from the week prior to opening including
        Tabling in CCT, Posters hung around campus, advertising on the TV screens around campus
        Organizes publicity on show days including
        Ad on the screens outside the theater, Playbills, tickets, and photocards available for company and audience on entrance
        
        Cast Supervisor
        The Cast Supervisor is in charge of keeping track of active cast members. If they are not able to find a Director (or would want to do the job themselves), then they must serve the role of Director themselves. Specific duties include
        Assisting the Director organize cast auditions and give recommendations to the casting
        Ensuring or tracking the attendance of the cast for rehearsals —maybe???
        
        Social Chair(s)
        The Social Chair is in charge of organizing fun, bonding social events over the course of a production. These events should be inclusive for the whole company and tailor to the theme of the current production, including decorations, beverages, and entertainment. These events include but are not limited to the Opening Party and Closing Celebration, traditionally haidilao, after the last show. 
        </p>

</div>


<script>
// Check if the dark-theme class is saved in localStorage when the page loads
$(document).ready(function() {
  if (localStorage.getItem('theme') === 'dark') {
    $('body').addClass('dark-theme');
  }

  // Toggle dark mode on logo click and save the preference
  $(".logo").on("click", () => {
    $("body").toggleClass("dark-theme");

    // Save the current theme preference to localStorage
    if ($("body").hasClass("dark-theme")) {
      localStorage.setItem('theme', 'dark');
    } else {
      localStorage.setItem('theme', 'light');
    }
  });
});
</script>

</body>


<footer>
  <h1></h1>
  <div class = "icon-container">
      <button onclick="window.open('https://github.com/chyiricketts', '_blank');">
          <img src = "footerimg\github.svg" alt = "Github icon">
      </button>
      <button onclick="window.location.href='mailto:chyi.ricketts@gmail.com';">
          <img src = "footerimg\mail.svg" alt = "Email icon">
      </button>
      <button onclick="window.open('https://www.facebook.com/chyi.ricketts', '_blank');">
          <img src = "footerimg\facebook.svg" alt = "Facebook icon">
      </button>
      <button onclick="window.open('www.linkedin.com/in/chyi-ricketts', '_blank');">
          <img src = "footerimg\linkedin.svg" alt = "Linkedin icon">
      </button>
  </div>
  <p>Signature Work</p>
  <p>@Chyi Ricketts</p>
</footer>

</html>